#emoticonAnchor {
  margin-left: 4px;
  margin-right: 4px;
  max-width: 16px;
  max-height: 16px;
}

#emoticonAnchor[disabled] {
  filter: url("chrome://mozapps/skin/extensions/extensions.svg#greyscale");
}

#emoticonPanel .panel-inner-arrowcontent {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

/* Windows Luna themes */
@media (-moz-windows-theme: luna-blue),
       (-moz-windows-theme: luna-olive),
       (-moz-windows-theme: luna-silver) {
  #emoticonPanel .panel-inner-arrowcontent {
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    margin: -9px;
  }
}

/* Windows Classic theme. */
@media (-moz-windows-classic) {
  #emoticonPanel .panel-inner-arrowcontent {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1px;
    margin: -8px;
  }
}

.smileItem {
  padding: 3px;
  border: 1px solid;
  border-color: transparent;
  border-radius: 2px;
  -moz-transition-property: border-color, background-color;
  -moz-transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in;
}

.smileItem:hover {
  border-color: blue;
  background-color: lightblue;
}

